h2{
    text-align: center;
}
.header{
    background-color: black;
    color: white;
    height:35px;
    margin: 10px;

}
.list   {
    display: flex;
    flex-direction: row;
   text-indent: 20px;
   text-decoration: none;
    font-size: 20px;
}
.list a{
    text-decoration: none;
    color: white;
}
.col{
    margin:20px;
    border:2px solid black;
}

.check{
    color: orangered;
}